
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{.Title}}</title>

	<link rel="shortcut icon" type="image/jpg" href="/images/favicon.png"/>

	{{ $style := resources.Get "plain.css" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,400;1,700&family=Roboto:wght@700;900&display=swap" rel="stylesheet">

	{{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}

</head>


